html{font-size: 12px;font-family: Consolas, "Liberation Mono","微软雅黑" , Menlo, Courier, monospace;}
body{min-width: 800px;}
body,ul,a{padding: 0;margin: 0;list-style: none;text-decoration: none;color:#202020}

#head{background-color: #fff;position: relative}
.autoPadding{padding: 0 10%;width: 80%}
.pinkHover{color: #202020;transition: all 1s ease}
.pinkHover:hover,.nowNav{color: #e66766;transition: none}
.udlnHover{color: #dadada;transition: all 1s ease}
.udlnHover:hover{color:#fff;text-decoration:underline;text-shadow: 0 0 5px #fff;transition:all .5s ease}

#header{margin-top: 20px;background-color: #202020;height: 40px;}
#header>span{float: right;color: #fff;line-height: 40px;margin-left: 20px;}
.nav{height: 50px;}
.nav ul{float: right;height:100%;line-height: 50px;}
.nav ul li{float: left;margin-left:20px;font-weight: 900;}

.logo{position:absolute;left:10%;top:0}

.banner{height: 200px;width: 100%;}
.banner .pice{background: 50% 100% no-repeat;background-size: cover;height:100%}
.content{margin-top: 60px;border-top: 1px solid #dadada;height: 250px;position:relative;padding-top: 60px;}
.content .box{width: 45%;margin-top: 0;float: left;position: relative}
.content .box .entrance{position: absolute;height: 60px;width: 60px;top:-30px;left: 45%;}
.floatright{float: right!important;}
.floatleft{float: left!important;}
.datepick{display: block;float: left;width: 12%;margin-right: 5%;}
.datepick span{display: block;text-align: center;padding: 5px;}
.datepick .day{font-size: 18px;font-weight: 900;color:#e66766 }
.datepick .month{font-size: 14px;font-weight: 900;color:#656565;background-color: #dbdbdb}
.newslabel{overflow: hidden;margin-bottom: 20px;}
.newsdesc p{margin: 0;line-height: 20px;overflow: hidden}
.newsdesc .title{color: #e66766;height: 20px;}
.newsdesc .desc{color: #656565;height: 40px;}


/* 新闻首页入口 */
.entrances{height: 60px;position: absolute;top: -30px;width: 80%;}
.fullwidth{width:100% !important;}
.entrance{height:60px;width:45%;margin:auto; text-align: center}
.entrance .wrap{width: 100px;height: 100%;margin: auto;}
.entrance .title{color:#202020;transition:all .3s ease;height:50%;font-size: 18px;width: 100%;margin: auto;display: block}
.entrance .wrap:hover .title{color: #fff;text-shadow: #202020 0 0 5px;}
.entrance .more{width: 40px;border-top: 3px solid #202020;color: #3a8fbd;padding-top: 8px;position: relative;margin: 0 auto;display: block;font-size: 14px;}
.entrance .wrap:hover .more:before{transition:width .3s linear;width: 100%;left:0}
.entrance .more:before{content: ' ';transition:width .3s linear; width: 0;position: absolute;top:-3px;left:auto;right: 0;border-top: 3px solid #3a8fbd}

.companyIntro{line-height: 2;overflow: hidden;box-shadow: #202020 0 0 1px;border-radius: 5px;overflow: hidden;width: 30%;height: 250px;float: left;position: relative}
.companyIntro .intro{padding: 20px;}
.companyIntro .express{width: 120px;height: 80px;float: left;background: 50% 50% no-repeat;background-size: contain;}
.links{position: absolute;bottom: 0;height: 60px;width: 100%}
.links div{float: left;width: 33.3%;height: 100%;color: #fff}
.links .blue{background-color: #3a8fbd  }
.links .red{background-color: #e84c00 }
.links .gren{background-color: #1ab554 }

.companys{width: 60%;float: right;height: 250px;}
.company{transition: all .5s ease;float: left;width: 21%;margin: 2%;height: 60px;background-size: cover;background: 50% 50% no-repeat;box-shadow: #888 0 0 1px;border-radius: 5px;}
.company:hover{box-shadow: #202020 0 0 5px;}
/*底部样式*/
.introduction{background: 50% 50% no-repeat;height: 100%;}
.footlink{padding: 20px 10%;;height: 80px;background-color: #333;color: #fff;}
.footlink p{padding: 0;margin: 0;line-height: 40px}
.bottomshadow{box-shadow: 0 5px 5px 0 #202020;}